main {
    font-family: Arial, sans-serif;
    display: flex;
    flex-flow: row wrap;
    gap: .6rem;
    justify-content: center;
    max-width: 800px;
    min-height: 500px;
    margin-inline: auto;
  }

  .foto {
    display: flex;
    flex-flow: column;
    flex: 0 1 300px;

    background-color: cyan;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: 8px solid blue;
  }

  .foto > img {
    order: -1;
    align-self: center;

    width: 200px;
    height: 200px;
    transform: scale(1.01);
    object-fit: cover;
    object-position: top;
  }

  .sale-item p {
    margin-block: 0.5rem;
  }

  .sale-item > button {
    margin-top: auto;
    padding: 0.5rem 1rem;
  }

  .sale-item:last-of-type {
    object-position: 20% center;
  }