

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

section {
  padding: 1px;
  margin-bottom: 7px;
}
section >img {
  border: 1px solid white;
  margin: 1px;
  width: 70px;
  height: 70px;
}
.pager{
  /* border: 1px solid black; */
 /*  height: 20px; */
}
.pager > p {
  font-size: smaller;
}
.aside-1 {
  background: gold;
}

.aside-2 {
  background: rgb(245, 79, 162);
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 1em; 
}

