main {
    font-family: Arial, sans-serif;
    /*border: 1px solid black; */
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 800px;
    min-height: 500px;
    margin-inline: auto;
  }

  section {
    /*border: 1px solid greenyellow; */
    display: flex;
    border-radius: 2rem;
    flex-flow: column;
    flex: 0 1 350px;
  }

  /*.foto {
    display: flex;
    border: 1px solid black;
    flex-flow: column;
    flex: 0 1 300px;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    
  }
*/
  .foto > img {
    order: -1;
    align-self: center;

    width: 170px;
    height: 170px;
    transform: scale(1.01);
    object-fit: cover;
    object-position: top;
  }


  .foto p {
    margin-block: 0.5rem;
  }

  .foto > button {
    border: 1px solid black;
    margin-top: auto;
    padding: 0.5rem 1rem;
  }

.foto:last-of-type {
    object-position: 70% center;
  }