/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* ---------------------batas resetter ----------------------- */
header {
  height: 55px;
  display: flex;
  flex-flow: column;
  flex-direction: row;
  justify-content: flex-end;
  background: tomato;
}
header>nav {
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 20px;
  padding: 4px;
  margin: 4px;
  text-indent:20px;
}
header>nav>img{
  float: left;
  width: 40px;
  height: 40px;
}
header>nav>a {
  text-decoration: none;
  padding: 1px;
  margin: 1px;
  color: aliceblue;
}

article >.main {
  border: 1px solid black;
  display: flex;
  height: 80%;
  flex-flow: column;
  font-weight: bold;
  text-align: center;
  flex-wrap: wrap;

}
.faq2 >ul{
  padding: 5px;
  margin: 3px;
  list-style-type:none;
}

.main > * {
  padding: 10px;
  flex: 1 100%;
}
article {
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
}


section {
  padding: 1px;
  margin-bottom: 7px;
}
section >img {
  margin: 2px;
  padding: 2px;
  width: 70px;
  height: 70px;
  float: left;
}
footer {
  padding: 10px;
  background-color: rgb(103, 228, 176);
}

@media all and (min-width: 600px) {

  article { flex: 1 0 0; }
  footer {
    background-color: white;
  }
  article>.transaksi {
    float: left;
    width: 80%;
  }
  aside {
    float: right;
    width: 20%;
    padding: 0;
  }
}

@media all and (min-width: 800px) {
  article    { flex: 1 0px; }
  article    { order: 2; }
  article>.transaksi{
    float: left;
    width: 60%;
  }
  aside {
    float: right;
    width: 40%;
    padding: 0;
  }
}

body {
  padding: 1em; 
}

aside {
  padding-left: 20px;
}

/*aside>p {
  float:right;
  width: 80%;
  height: 60%;
  border: 1px solid black;
}*/
aside>img{
  display: inline;
  width: 250px;
}
